@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{          
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;;
}

body{
    background-color: black;
    color: white;
}

/* Shared style */

.btn>button{
   
    width: 224px;
    height: 54px;
    color: white;
}
.btn-1{
    border-radius: 42px;
    border: 1px solid rgb(71, 71, 71) ;
    padding: 16px 46.5px;
    background-color: #E6533C;
}
.btn-2{
    border-radius: 42px;
    border: 1px solid white;
    padding: 16px 46.5px;
    background-color: transparent;
    
}

/* navbar design */

nav{
    padding: 5px;
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

nav>p{
    font-size: 36px;
    color: #E6533C;
    font-weight: bold;
    font-style: italic;
}

nav>div{
    border: 1px solid rgb(71, 71, 71);
    display: flex;
    gap: 47px;
    align-items: center;
    border-radius: 39px;
    padding: 4px;
}
.home-btn{
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px;
}

nav>span{
    margin-right: 5px;
    display: none;
}



/* Hero section */
.hero-container{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
}

.hero-left{
    margin-top: 97px;
    width: 50%;
}
.hero-left>h2{
    font-size: 4.9rem;
}
.hero-left>p{
    color: #919191;
    margin-top: 28px;
    margin-bottom: 28px;
}

.hero-right{
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}

.tooltip{
    background-color: rgba(128, 128, 128, 0.336);
    position: absolute;
    right: -10%;
    top: 17%;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    padding-top: 20px;
    padding-left: 20px
}

.tooltip>h2{
    font-weight: bolder;
    font-size: 2.5rem;

}
.tooltip>p{
    color: gray;
}

.tooltip2{
    background-color: rgba(128, 128, 128, 0.366);
    position: absolute;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    padding-top: 20px;
    padding-left: 20px;
    left: 20%;
    top: 70%;
    display: flex;
    align-items: center;
    gap: 12px;
}
.vedio p{
    color: #919191;
}

.ball{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50px;
}




/* Responsive design */

@media screen and (max-width:576px) {
    .menu{
        display: none;
    }
    
    nav>span{
    margin-right: 5px;
    display: inline;
}

.hero-container{
    flex-direction: column;
}
.hero-left, .hero-right{
    width: 100%;
}
.hero-right>img{
    width: 100%;
}
.tooltip{
    top: 10%;
    left: 55%;
}
.tooltip2{
    left: 10%;
    top: 50%;
}

}



@media screen and (min-width:577px) and (max-width:992px) {
    
    nav>span{
    margin-right: 5px;
    display: none;
}
}